[Thorward]

## Keep the WardIsLove replacement ward available at the same early progression point as the vanilla ward.
Crafting Station = Workbench
Crafting Costs = FineWood:5:True,GreydwarfEye:5:True,SurtlingCore:1:True
